<button class="Stocks-add-button">Add</button>
<h1 class="Stocks-header">Your Stocks .</h1>

<div class="Stocks-contents-container">
  <% 3.times do %>
    <div class="Stocks-contents-stocksInfo">
      <button class="Stocks-delete-button">x</button>
      <p class="Stocks-listedStocks"><a class="Stocks-listedStocks-a">Stock Info</a></p>
    </div>
  <% end %>
</div>
