/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100vh;
   width: 100vw;
   background-color: #1a1a1a;
   color: #dedede;
   text-align: center;
   font-family: "Raleway", sans-serif;
 }

 a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1A527F;
}

input {
  border-radius: 6px;
  margin: 2%;
}

input:hover {
  cursor: pointer;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.Stocks-header {
  font-weight: 800;
  font-size: 800%;
}

.Stocks-add-button {
  height: 3%;
  width: 5%;
  margin-left: 2%;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
}

.Stocks-add-button:hover {
  background-color: #1a1a1a;
  color: #dedede;
  border-style: solid;
  border-color: #dedede;
}

.Stocks-contents-container {
  margin-top: 10%;
}

.Stocks-listedStocks {
  display: inline-block;
  font-weight: 400;
  font-size: 350%;
}

.Stocks-delete-button {
  background-color: #4CAF50;
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   border-radius: 50%;
}

.Stocks-delete-button:hover {
  background-color: rgba(250,0,0,.6);
  color: black;
}
